<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="InserUrl" value="http://polar-wave-8764.herokuapp.com/calendarapi/insert"/>
    <add key="userId" value="1"/> <!-- this is yours ! Gadi = 7 | Eric = 3 -->
    <add key="userPassword" value="not critical right now"/>
    <add key="timeout" value="5000"/> <!-- in miliseconds -->
  </appSettings>
</configuration>
