<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="InserUrl" value="http://127.0.0.1:8404/CalendarApi/insert"/>
    <add key="userId" value="3"/> <!-- this is yours ! Gadi = 7 | Eric = 3 -->
    <add key="userPassword" value="not critical right now"/>
  </appSettings>
</configuration>
